.App {
  box-sizing: border-box;
  text-align: center;
  background-color: orange;
  height: 100%;
  display: flex;
  justify-content: center;
}
h1 {
  margin: 0px;
  display: flex;
  align-self: center;
}
